In [1]:
from netCDF4 import Dataset
import pandas as pd
from netCDF4 import num2date, date2num, date2index
import numpy as np
import numpy.ma as ma

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is D4DF-7D72

 Directory of C:\Users\win10\ml

01/30/2019  01:16 PM    <DIR>          .
01/30/2019  01:16 PM    <DIR>          ..
01/28/2019  12:08 PM    <DIR>          .ipynb_checkpoints
01/29/2019  05:34 PM    <DIR>          __pycache__
01/16/2019  06:51 PM         1,272,108 19720010.nc
01/16/2019  06:45 PM        12,066,726 20120101022144-NODC-L3C_GHRSST-SSTskin-AVHRR_Pathfinder-PFV5.2_NOAA19_G_2012001_night-v02.0-fv01.0.nc
01/18/2019  01:24 PM    <DIR>          air.departure.sig995.2012.Data
01/04/2019  06:43 PM        30,793,837 air.departure.sig995.2012.nc
01/04/2019  06:43 PM         7,700,344 air.sig995.2012.nc
01/16/2019  04:06 PM           127,186 bokeh_plot (1).png
01/16/2019  03:16 PM            59,010 bokeh_plot.png
01/30/2019  01:16 PM            16,458 contourplotly.ipynb
01/28/2019  11:12 AM       227,722,764 csv_file.csv
01/18/2019  01:21 PM    <DIR>          darwin_2012.Data
01/04/2019  06:43 PM            30,744 darwin_2012.nc
01/16/2019  06:03 PM           409,008 diigray.tif
01/23/2019  06:30 PM    <DIR>          Documents
01/04/2019  06:36 PM           599,308 download.png
01/28/2019  11:40 AM            27,281 elevation_plot.ipynb
01/28/2019  11:42 AM         1,458,255 EQ830014.dat
01/28/2019  11:42 AM         1,527,314 EQ830016.dat
01/17/2019  06:43 PM    <DIR>          gebco bathymetry data
01/15/2019  04:59 PM            11,410 Gridded_Datasets_I.ipynb.txt
01/18/2019  01:22 PM    <DIR>          GRIDONE_2D.Data
11/25/2014  11:28 AM       466,885,748 GRIDONE_2D.nc
01/15/2019  07:00 PM         1,036,463 H-H1_LOSC_4_V1-1126259446-32.hdf5
01/30/2019  01:16 PM            93,072 masked_arrays_plotting_netcdf_file.ipynb
01/15/2019  06:07 PM           254,670 memory_error.jpg
08/27/2017  10:58 PM        23,147,564 MobileNetSSD_deploy.caffemodel
08/27/2017  10:58 PM            29,353 MobileNetSSD_deploy.prototxt.txt
01/30/2019  01:16 PM             1,032 multiple_files_creation.ipynb
01/30/2019  01:16 PM            45,742 ndarray.ipynb
01/28/2019  04:33 PM            19,147 netCDF.ipynb
01/16/2019  11:59 AM            10,696 netcdf_example.py
01/28/2019  11:12 AM         7,779,681 netcdf_file.nc
01/18/2019  12:10 PM             2,112 plotlydemo.ipynb
01/28/2019  12:08 PM           186,779 plotting.ipynb
01/29/2019  05:32 PM             4,968 plotting.py
01/17/2019  03:17 PM            89,442 plotting_with_matplotlib.ipynb
01/17/2019  03:54 PM        12,387,595 progit.pdf
01/28/2019  08:22 PM             3,408 real_time_object_detection.py
09/04/2017  01:42 AM    <DIR>          real-time-object-detection
01/24/2019  05:46 PM            94,012 RL1.ipynb
01/29/2019  04:15 PM             4,204 simple_rooms.py
01/29/2019  05:36 PM            11,421 simulation.py
01/24/2019  06:37 PM             9,151 ten_armed_testbed.py
01/28/2019  11:14 AM           861,371 XARRAY.ipynb
11/09/2018  05:48 PM    <DIR>          yolo-object-detection
              37 File(s)    796,779,384 bytes
              11 Dir(s)  56,125,157,376 bytes free

In [3]:
dataset = Dataset('darwin_2012.nc')

In [4]:
dataset.file_format

'NETCDF4'

In [5]:
dataset.dimensions

OrderedDict([('time',
              <class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 366)])

In [6]:
dataset.dimensions.items()

odict_items([('time', <class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 366
)])

In [7]:
dataset.dimensions.values()

odict_values([<class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 366
])

In [8]:
dataset.dimensions.keys()

odict_keys(['time'])

In [9]:
 dataset.dimensions['time']

<class 'netCDF4._netCDF4.Dimension'> (unlimited): name = 'time', size = 366

In [10]:
dataset.variables

OrderedDict([('time', <class 'netCDF4._netCDF4.Variable'>
              float64 time(time)
                  units: hours since 1-1-1 00:00:0.0
                  long_name: Time
                  actual_range: [17628096. 17636856.]
                  delta_t: 0000-00-01 00:00:00
                  standard_name: time
                  axis: T
                  avg_period: 0000-00-01 00:00:00
              unlimited dimensions: time
              current shape = (366,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('air', <class 'netCDF4._netCDF4.Variable'>
              float64 air(time)
                  units: degK
                  long_name: mean Daily Air temperature
                  var_desc: Air temperature
                  statistic: Mean
              M
                  level_desc: Surface
              unlimited dimensions: time
              current shape = (366,)
              filling on, default _FillValue of 9.969209968386869e+36 used)])

In [11]:
dataset.variables.keys()

odict_keys(['time', 'air'])

In [12]:
dataset.variables['air']

<class 'netCDF4._netCDF4.Variable'>
float64 air(time)
    units: degK
    long_name: mean Daily Air temperature
    var_desc: Air temperature
    statistic: Mean
M
    level_desc: Surface
unlimited dimensions: time
current shape = (366,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [13]:
for attr in dataset.ncattrs():
    print( attr, '=', getattr(dataset, attr))

description = NCEP/NCAR Reanalysis air temperature from its value at Darwin, Australia. Data is from NMC initialized reanalysis
(4x/day).  These are the 0.9950 sigma level values.

In [14]:
air = dataset.variables['air']
time = dataset.variables['time']

In [15]:
time = time[:]

In [16]:
# time.unshare_mask

In [17]:
t = dataset.variables['time']

In [18]:
t

<class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    units: hours since 1-1-1 00:00:0.0
    long_name: Time
    actual_range: [17628096. 17636856.]
    delta_t: 0000-00-01 00:00:00
    standard_name: time
    axis: T
    avg_period: 0000-00-01 00:00:00
unlimited dimensions: time
current shape = (366,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [19]:
dts = num2date(t[:], t.units, calendar='standard')

In [20]:
dts[:1,]

array([real_datetime(2012, 1, 1, 0, 0)], dtype=object)

In [21]:
dts.min()

real_datetime(2012, 1, 1, 0, 0)

In [22]:
type(dts)

numpy.ndarray

In [23]:
dts.tolist()[:5]

[real_datetime(2012, 1, 1, 0, 0),
 real_datetime(2012, 1, 2, 0, 0),
 real_datetime(2012, 1, 3, 0, 0),
 real_datetime(2012, 1, 4, 0, 0),
 real_datetime(2012, 1, 5, 0, 0)]

In [24]:
dates = pd.DataFrame(dts)
dates.head()

           0
0 2012-01-01
1 2012-01-02
2 2012-01-03
3 2012-01-04
4 2012-01-05

In [25]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 1 columns):
0    366 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.9 KB

In [26]:
dates.min(),dates.max()

(0   2012-01-01
 dtype: datetime64[ns], 0   2012-12-31
 dtype: datetime64[ns])

In [27]:
air[:5]

masked_array(data=[300.6300048828125, --, --, --, --],
             mask=[False,  True,  True,  True,  True],
       fill_value=9.969209968386869e+36)

In [28]:
df = pd.DataFrame(ma.filled(air))

In [29]:
df[1:2]

              0
1  9.969210e+36

In [30]:
df.head()

              0
0  3.006300e+02
1  9.969210e+36
2  9.969210e+36
3  9.969210e+36
4  9.969210e+36